*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: linear-gradient(0deg,rgba(15,39,93,1)0%,rgba(0,5,8,1)70%);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
    height: 100vh;
    
}
#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    
}
.menu-bar
{
    background-color:rgb(255, 176, 176) ;
    text-align: center;
}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #ffffff;
}

.menu-bar ul li 
{
    width: 120px;
    margin: 10px;
    padding: 10px;
}

.menu-bar ul li a 
{
    text-decoration: none;
    color: white;
}

.active, .menu-bar ul li:hover
{
    background: rgb(0, 0, 0);
    border-radius: 10px;

}

.menu-bar .fa
{
    margin-right: 5px;
}

.our-passport
{
    font-family: sans-serif;
    font-size: 50px;
    color: transparent;
    text-align: center;
   -webkit-text-stroke: 1px #ffffff;
   background: url(back.png);
   -webkit-background-clip: text;
   background-position: 0 0;
   animation: back 20s linear infinite;

}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}