*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: linear-gradient(0deg,rgba(15,39,93,1)0%,rgba(0,5,8,1)70%);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
   height: 100vh;
    
}
#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    
}
.menu-bar
{
    background: linear-gradient(135deg,rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    text-align: center;
    position: relative;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #ffffff;
}

.menu-bar ul li 
{
    width: 120px;
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    transition: ease-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
}

.menu-bar ul li a 
{
    text-decoration: none;
    border: none;
    color: #ffffff;
}

 .menu-bar ul li:hover
{
    color: rgb(238, 214, 0);
    cursor: pointer;

}
.menu-bar ul li::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #555555;
    border-radius: 10px;
}
.menu-bar ul li:hover::before{
    transition: 0.5s all ease ;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.menu-bar .fa
{
    margin-right: 5px;
}

.our-passport
{
    font-family: sans-serif;
    font-size: 50px;
    color: transparent;
    text-align: center;
   -webkit-text-stroke: 1px #ffffff;
   background: url(back.png);
   background-size: cover;
   -webkit-background-clip: text;
   background-position: 0 0;
   animation: back 20s linear infinite;

}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
